
__pycache__/
target/

main/*.exe
main/*.7z
main/*.zip

main/DUTM.m4a
main/DecipherUnicode*.txt
main/settings.ini
main/Unicode.txt

main/ffmpeg/
main/python/
main/Internal_test/

main/output/
main/png/
