
__pycache__/
target/

main/*.exe
main/*.7z
main/*.zip
main/*.m4a

main/DecipherUnicode*.txt
main/Unicode*.txt
main/settings.ini

main/ffmpeg/
main/python/
main/Internal_test/

main/output/
main/png*/
